.characterHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px #1018280f;
  box-shadow: 0px 1px 3px 0px #1018281a;
}

.table-header {
  padding: 12px 24px;
  display: grid;
  grid-template-columns: 17fr 3fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
}

.table-row {
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 17fr 3fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
}

.table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.table-header_title {
  font-size: 12px;
  line-height: 18px;
  color: #475467;
  font-weight: 500;
}

.table-row_title {
  font-size: 12px;
  line-height: 18px;
  color: #101828;
  font-weight: 500;
}

.play-icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media (max-width: 995px) {
  .characterHeader {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}
