.wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px #1018280f;
  box-shadow: 0px 1px 3px 0px #1018281a;
  align-items: center;
  color: #475467;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f2f4f7;
  color: #475467;
}
